@font-face {
  font-family: 'Conv_FuturaBT-Book';
  src: url('http://cdn.jihuinet.com/wechat/upload/FuturaBT-Book.eot');
  src: local('☺'), url('http://cdn.jihuinet.com/wechat/upload/FuturaBT-Book.woff') format('woff'), url('http://cdn.jihuinet.com/wechat/upload/FuturaBT-Book.ttf') format('truetype'), url('http://cdn.jihuinet.com/wechat/upload/FuturaBT-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

img {
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

#laymod_ ${laymod.laymodId} {
  position: relative;
  overflow: hidden;
  z-index: 500;
  < c: if test = '${layout.language eq "1"}' >
  font-family: "Microsoft Yahei", "PingHei", "Lucida Grande", "Lucida Sans Unicode";
  < /
  c: if > <
  c: if test = '${layout.language eq "2"}' >
  font-family: "Arial", "Times New Roman", "Microsoft YaHei", "SimHei";
  < /
  c: if >
}

#laymod_ ${laymod.laymodId} .module-section-inner {
  overflow: hidden;
}

#laymod_ ${laymod.laymodId} .bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#laymod_ ${laymod.laymodId} .bg_img {
  z-index: 2;
}

#laymod_ ${laymod.laymodId} .bodyCont_width {
  position: relative;
  z-index: 4;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_target {
  position: absolute;
  left: 18.88889vw;
  top: 9.44444vw;
  width: 70.27778vw;
  height: 40vw;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_image {
  position: relative;
  background-size: cover;
  transition: background-position 1.4s cubic-bezier(.34, .07, .095, .995);
  background-position: 0 3vw;
  width: 38.68056vw;
  height: 53.33333vw;
  margin: 0 0 0 10.97222vw;
  background-repeat: no-repeat;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail {
  position: absolute;
  right: 10.83333vw;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -.625vw 2.08333vw 0;
  font-size: 1.38889vw;
  color: ${command.out(laymod.args.title_color,'#fff')};
  font-weight: 700;
  font-family: 'Conv_FuturaBT-Book', "Microsoft Yahei", "PingHei", "Lucida Grande", "Lucida Sans Unicode";
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box {
  display: block;
  position: relative;
  border: 6px solid currentColor;
  transition: border .3s ease-in;
  width: 70.27778vw;
  height: 40vw;
  color: ${command.out(laymod.args.title_color,'#fff')};
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box:after,
#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  background-color: currentColor;
  transition: height .1s linear;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box:before {
  top: 0;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box:after {
  bottom: 0;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_head {
  display: inline-block;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_head .mber_job {
  font-size: 5vw;
  margin: 0 0 .625vw;
  line-height: 1.14;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_head .mber_job .mber_span {
  font-family: 'Conv_FuturaBT-Book';
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transform: translate3d(0, .3em, 0) skewY(5deg);
  transition: clip-path .6s ease-out, transform .6s ease-out;
  transition: clip-path .6s ease-out, transform .6s ease-out, -webkit-clip-path .6s ease-out;
  transition-delay: .2s;
  font-family: 'Conv_FuturaBT-Book', "Microsoft Yahei", "PingHei", "Lucida Grande", "Lucida Sans Unicode";
  word-wrap: break-word;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_head .mber_name {
  padding: 0 0 0 .48611vw;
  font-size: 1.25vw;
}

#laymod_ ${laymod.laymodId} .bodyCont_width.active .mber_image {
  background-position: 0 0;
}

#laymod_ ${laymod.laymodId} .bodyCont_width.active .mber_detail .mber_detail_box .mber_info .mber_head .mber_job .mber_span {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  transform: translateZ(0) skewY(0deg);
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_foot {
  position: relative;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_foot:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 2.5vw;
  width: 100%;
  border-bottom: 4px solid currentColor;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_foot .mber_copy {
  padding: 0 0 2.91667vw;
  font-size: 1.66667vw;
  letter-spacing: .24em;
  line-height: 1.33333;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_foot .mber_work_year {
  font-size: .97222vw;
  letter-spacing: .1em;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more {
  position: fixed;
  right: 6.73611vw;
  bottom: 7.40741vh;
  width: 2px;
  height: 4.44444vw;
  text-align: center;
  z-index: 300;
  color: ${command.out(laymod.args.title_color,'#fff')};
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transition: height .15s ease;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more.active {
  position: absolute;
  bottom: 9.44444vw;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more.active:before {
  top: auto;
  bottom: 0;
  height: 0;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover {
  display: -ms-flexbox;
  display: flex;
  height: 1.1em;
  overflow: hidden;
  display: block;
  position: relative;
  width: 5.20833vw;
  height: 4.79167vw;
  pointer-events: none;
  color: ${command.out(laymod.args.title_color,'#fff')};
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more.active .mber_hover {
  pointer-events: auto;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover .mber_look {
  display: block;
  position: relative;
  margin-right: -.4em;
  padding: 0 0 0 0.5vw;
  color: currentColor;
  letter-spacing: .37em;
  line-height: 1.49;
  cursor: pointer;
  opacity: 0;
  -webkit-clip-path: polygon(0 0, 32% 0, 15% 100%, 0 100%);
  clip-path: polygon(0 0, 32% 0, 15% 100%, 0 100%);
  transition: clip-path .1s ease, -webkit-clip-path .1s ease, opacity .1s ease .1s;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more.active .mber_hover .mber_look {
  opacity: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path .4s ease, -webkit-clip-path .4s ease, opacity .1s ease;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover:after,
#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover:before {
  content: "";
  display: block;
  position: absolute;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover:before {
  left: 0;
  bottom: .625vw;
  width: 0;
  height: 2px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid transparent;
  transition: width .15s ease;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover:after {
  bottom: .55556vw;
  right: .48611vw;
  width: 2px;
  height: .97222vw;
  transform: rotate(-45deg);
  transform-origin: right;
  border-bottom: 2px solid transparent;
  border-right: 2px solid currentColor;
  opacity: 0;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more.active .mber_hover:before {
  width: 5.13889vw;
  transition: width .15s ease .17s;
}

#laymod_ ${laymod.laymodId} .bodyCont_width .mber_more.active .mber_hover:after {
  opacity: 1;
  transition: opacity .1s ease .32s;
}

@media (min-width: 768px) {
  #laymod_ ${laymod.laymodId} .bodyCont_width {
    position: relative;
    margin: 2.77778vw 0 5.55556vw;
    padding: 2.77778vw 0;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail {
    top: 8.5%;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box {
    border-width: 8px;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box:hover:after,
  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box:hover:before {
    height: 5px;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info:after,
  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: currentColor;
    transition: width .1s ease;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info:before {
    left: 0;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info:after {
    right: 0;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box:hover .mber_info:before,
  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box:hover .mber_info:after {
    width: 5px;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_head {
    padding: 4.86111vw 3.88889vw 5.69444vw 0;
    text-align: left;
    max-width: 800px;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_foot {
    margin: 0 0 0 27.08333vw;
    text-align: right;
    width: 26.80556vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover {
    right: 0;
    width: 5.20833vw;
    height: 5.06944vw;
    font-size: 1.25vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover .mber_ok .mber_targetq {
    height: 2.8em;
    overflow: hidden;
    width: 3em;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover .mber_ok .mber_view {
    transition: transform .3s ease;
    word-break: break-all;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_more .mber_hover:hover .mber_ok .mber_view {
    transform: translate3d(0, -100%, 0);
  }
}

@media (max-width: 767px) {
  #laymod_ ${laymod.laymodId} .bodyCont_width {
    margin: 6.4vw 0 10.66667vw;
    padding: 6.4vw 0 5.33333vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_target {
    left: 22.13333vw;
    top: 8.53333vw;
    width: 72.4vw;
    height: 98.4vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_image {
    width: 63.86667vw;
    height: 87.5vw;
    margin-top: 27.8%;
    margin-left: 0;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail {
    top: 0;
    right: 5.33333vw;
    overflow: hidden;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_title {
    margin: 0 -1.2vw 4vw 0;
    font-size: 2.4vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box {
    width: 72.4vw;
    height: 76.8vw;
    padding: 9.06667vw 0 0;
    border-width: 3px;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_head {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 0 0 10.13333vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_head .mber_job {
    font-size: 8vw;
    margin: 0 0 1.2vw;
    white-space: nowrap;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_head .mber_name {
    font-size: 2.66667vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_foot {
    width: 51.73333vw;
    margin: auto;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_foot:before {
    bottom: 5.06667vw;
    border-bottom: 2px solid currentColor;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_foot .mber_copy {
    padding: 0 0 4.53333vw;
    font-size: 3.73333vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_detail .mber_detail_box .mber_info .mber_foot .mber_work_year {
    font-size: 2.4vw;
  }

  #laymod_ ${laymod.laymodId} .bodyCont_width .mber_more {
    opacity: 0;
  }
}