.cart-list-outer {width: 948px; margin: 0 auto; padding: 7px 20px 20px 20px; border:1px solid #e8e8e8; }
.cart-list-outer a {color: #000000; }
.cart-list-outer a:hover {text-decoration: underline; color:#f60; }
.cart-list-outer .arial {font-family: Arial; }
.cart-list-outer .cor_6c {color: #6c6c6c; }
.cart-list-outer .cor_3c {color: #3c3c3c; }
.cart-list-outer .cor_9c {color: #9c9c9c; }
.cart-list-outer .font_14 {font-size: 14px; }
.cart-list-outer .price-original {text-decoration: line-through; padding-bottom: 4px; }
.cart-list-outer .cart-table {height: 55px; line-height: 55px; border-bottom: 1px solid #ccc; overflow: hidden; }
.cart-list-outer .cart-checkbox {position: relative; display: block; width: 24px; float: left; height: 15px; vertical-align: middle; overflow: hidden; }
.cart-list-outer .select_all .cart-checkbox {margin-top: 20px; }
.cart-list-outer .cart-item {border-bottom: 1px solid #e7e7e7; padding: 17px 0; }
.cart-list-outer .item-pic {border: 1px solid #e8e8e8; height: 80px; width: 80px; margin-right: 9px; }
.cart-list-outer .item-info {line-height: 18px; width: 180px; }
.cart-list-outer .item-pic img {width: 80px; height: 80px; }
.cart-list-outer .cart-checkbox input {position: absolute; z-index: 0; left: -20px; top: -20px; }
.cart-list-outer .cart-checkbox label {position: relative; z-index: 1; float: left; width: 15px; height: 15px; background: url(/images/shop_img/msg_bg.png) 0 -550px; line-height: 200em; overflow: hidden; cursor: pointer; }
.cart-list-outer .cart-checkbox label.checked {background: url(/images/shop_img/msg_bg.png) -50px -550px; }
.cart-list-outer .th-chk {width: 325px; }
.cart-list-outer .th-info {width: 148px; }
.cart-list-outer .th-price {width: 155px; }
.cart-list-outer .fl .td-inner {padding: 0 0 0 20px; }
.cart-list-outer .th-num {width: 110px; }
.cart-list-outer .th-sum {width: 120px; }
.cart-list-outer .th-op {width: 79px; }
.cart-list-outer .fl {float: left; }
.cart-list-outer .td-chk {width:24px; }
.cart-list-outer .item-basic-info {height: 40px; overflow: hidden; }
.cart-list-outer .item-basic-info a {display: block; }
.cart-list-outer .td-op a {display: block; padding-bottom: 3px; }
.cart-list-outer .item-other-info {margin-top: 24px; }
.cart-list-outer .td-info {width: 132px; line-height: 18px; color: #afafaf; padding: 0 20px 0 34px ; }
.cart-list-outer .td-price {width: 78px; text-align: center; }
.cart-list-outer .promo-content {background: #fff0e8; color: #fc461e; border: 1px solid #fee1d4; height: 22px; line-height: 22px; padding: 0 10px; margin-top: 4px; width: 4em; overflow: hidden; }
.cart-list-outer .minus,.cart-list-outer  .plus {display: block; height: 23px; width: 17px; border: 1px solid #e5e5e5; background: #f0f0f0; text-align: center; line-height: 23px; float: left; }
.cart-list-outer .plus {border-left:1px solid #aaa ; }
.cart-list-outer .minus {border-right: 1px solid #aaa; }
.cart-list-outer .plus:hover,.cart-list-outer  .minus:hover {color: #f60; border: 1px solid #f60; text-decoration: none; }
.cart-list-outer .nominus:hover {border: 1px solid #e5e5e5; border-right: 1px solid #aaa; }
.cart-list-outer .ItemAmount {width: 39px; height: 15px; line-height: 15px; border: 0 none; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; color: #343434; text-align: center; padding: 4px 0; background-color: #fff; float: left; font-size: 14px; }
.cart-list-outer .td-amount {padding-left: 65px; padding-right: 50px; }
.cart-list-outer .item-amount .nominus {color:#e5e5e5 }
.cart-list-outer .td-sum {color:#ff4400; font-size: 18px; width: 125px; }
.cart-list-outer .td-op {line-height: 18px; width: 60px; }
.cart-list-outer .last-item {border-bottom: 0 none; }
.cart-list-outer .FloatBar {background:#e4e4e4 ; height: 55px; margin: 0 auto; width: 990px; line-height: 55px; }
.cart-list-outer .FloatBar .cart-checkbox{padding-left: 21px; }
.cart-list-outer .operations a {margin-left: 25px; float: left; }
.cart-list-outer .select_all {width: 80px; cursor: pointer; }
.cart-list-outer .fr {float: right; }
.cart-list-outer .float-bar .amount-sum em {color: #f40; font-weight: 700; font-size: 18px; padding: 0 10px; font-style: normal; }
.cart-list-outer .amount-sum {margin-right: 60px; height: 55px; }
.cart-list-outer .price-sum {height: 55px; margin-right: 45px; }
.cart-list-outer .J_Total {font-size: 22px; padding: 0 3px; color: #f40; font-style: normal; }
.cart-list-outer .btn-area {height: 55px; width: 250px; }
.cart-list-outer .buy-continue,.cart-list-outer  buy-sep{float:left; font-size: 20px; font-weight:bold; color: #9c9c9c; }
.cart-list-outer .buy-sep: {margin-left:28px; float:left; }
.cart-list-outer .btn-area .submit-btn-disabled {width: 120px; cursor: not-allowed; text-decoration: none; color: #9c9c9c; font-size: 20px; display: block; text-align: center; float:right; font-family: 'Lantinghei SC','Microsoft Yahei'; }
.cart-list-outer .float-bar .submit-btn {display: inline-block; width: 120px; background: #f40; text-align: center; color: #fff; height: 55px; cursor: pointer; }
.cart-list-outer .float-bar .submit-btn:hover {background:#f22d00; }
.cart-list-outer .price-sum .price {font-size: 18px; color: #f40; }
.cart-list-outer .cart-item{overflow:hidden;}
.cart-list-outer .ItemAmount {height: 23px; line-height: 23px;}